
@{
    Layout = null;
    CMR.Models.Employee employee = (CMR.Models.Employee)ViewBag.Employee;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getView</title>
</head>
<body>
    <div>
        <b>Employee Details</b> <br/>
        Employee Name: @employee.FirstName@employee.LastName<br/>
        Employee Salary: @employee.Salary.ToString("C")
    </div>
</body>
</html>
