@using CMR.CustomHtmlHelpers;
<div class="sidebar">
    <ul>
        <li>
            <a href="#" class="head collapsed @Html.ActivePage("DLT")"><i class="fa fa-users fa-lg"></i> Reports <span class="arrow"></span></a>
            <ul class="sub-menu">
                <li class="@Html.ActivePage("DLT","Index")">
                    @Html.ActionLink("Course Reports", "Index", "DLT")
                </li>
            </ul>
        </li>
    </ul>
</div>
