.sidebar {
    margin-top: 5px;
}

    .sidebar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .sidebar .head {
        padding-left: 10px;
    }

    .sidebar a {
        display: block;
        text-decoration: none;
        color: #e1ffff;
        border-bottom: 1px solid #2e353d;
        background-color: #2E353D;
        border-bottom: 1px solid #23282e;
        padding-top: 8px;
        padding-bottom: 8px;
    }

        .sidebar a i {
            padding-right: 10px;
        }

    .sidebar .collapsed {
        background-color: #4f5b69;
    }

    .sidebar .sub-menu a {
        background-color: #2E353D;
        padding-left: 30px;
    }

    .sidebar ul :not(collapsed) .arrow:before,
    .sidebar li :not(collapsed) .arrow:before {
        font-family: FontAwesome;
        content: "\f078";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        float: right;
    }

    .sidebar .sub-menu li:before {
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        float: left;
        color: white;
        margin-top: 7px;
    }
    .sidebar .sub-menu .active a{
        color:#9ABB1D;
    }
    .sidebar .activeByController{
        border-left:3px solid #BBA50A;
    }
