.centerobj{
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	position:absolute;
	min-height:200px;
}

.btn-primary {
	color: #fff;
	background-color: rgba(51,122,183,0.37);
	border-width: 0px 0px 3px;
	border-bottom-color: rgba(184,213,254,0.88);
	border-bottom-style: solid;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 20px;
	letter-spacing: 3px;
	font-stretch: expanded;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: rgba(98,168,229,0.61);
	border-bottom-color: rgba(147,192,255,1.00);
	-webkit-box-shadow: 0 0px 10px 2px rgba(110,193,253,0.30);
	box-shadow: 0 0px 10px 2px rgba(110,193,253,0.30);
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #DFDFDF;
	background-color: rgba(0,0,0,0.60);
	background-image: none;
	border-left: 3px solid rgba(150,211,255,0.22);
	border-right: 1px solid rgba(120,120,120,0.22);
	border-bottom: 1px solid rgba(120,120,120,0.22);
	border-top: 1px solid rgba(120,120,120,0.22);
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	max-width: 500px;
	min-width: 100px;
}